.orderMedicines {
  display: flex;
  gap: 2em 1em;
  flex-wrap: wrap;
}

.MuiContainer-root.labAppointment,
.MuiContainer-root.doctorAppointment,
.MuiContainer-root.recentOrders,
.MuiContainer-root.orderMedicines {
  justify-content: center;
}

.MuiCardHeader-content {
  width: 100%;
}

.MuiTypography-root.MuiTypography-body1.MuiCardHeader-subheader {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
